name: site

on:
  push:
    branches: ["main"]
  schedule:
    - cron: "0 12-21 10-15 10 *"

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain
      - uses: Swatinem/rust-cache@v2

      - name: Build page
        run: cd strip_ai && cargo run --release > index.html

      - uses: actions/upload-pages-artifact@v3
        with:
          path: strip_ai/index.html

  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    steps:
      - uses: actions/deploy-pages@v4
